<article itemscope itemtype="http://schema.org/BlogPosting"
  role="article" class="post-item {{post_class}}">
  <div class="post-item-header">
    <span itemprop="name" class="post-item-title">
      <a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">
        {{{title}}}
      </a>
    </span>
      <span class="post-item-meta-item">
        <time datetime="{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished">
          {{date published_at timeago="true"}}
        </time>
      </span>
{{!--       {{#if tags}}
      <span class="post-item-meta-item tags">
        {{#foreach tags}}
          <a class="tag" itemprop="{{#if @first}}articleSection{{else}}keywords{{/if}}" href="{{url}}" data-pjax>{{name}}</a>
        {{/foreach}}
      </span>
      {{/if}}
 --}}  </div>
</article>
